/* administrador.css */
.row .col{
  margin-top: 3%;
}

.btn-lg{
  background-color: #19BEBE;
  font-weight: bold !important;
  font-size: 1.5em;
  color: #3D343F;
}

.btn-lg:hover {
  background-color: #E98836;
  color: #FBF8F7;
  transition: all 0.5s;
}

.PerfilDenun:hover{
  cursor:pointer;
  background-color: #19BEBE;
  transition: all 1s;
}

.PerfilDenun h4{
  text-align: center;
  letter-spacing: 10px;
  font-size: 200%;
  font-family: 'Allerta', sans-serif; /*No entiendo por que no funciona */
}

.eliminar-usuario{
  background-color: rgba(233,136,54,0.9);
  border: solid 2px rgba(233,136,54,0.9);
  color: #FBF8F7;
}
.eliminar-publicacion{
  background-color: rgba(0,0,0,0);
  border: solid 2px #8FCED0;
  color: #8FCED0;
}
.quitar-denuncia{
  background-color: rgba(0,0,0,0);
  border: solid 2px #FBF8F7;
  color: #FBF8F7;
}
.eliminar-usuario:hover{
  background-color: #E98836;
  color: #FBF8F7;
}
.eliminar-publicacion:hover{
  background-color: #8FCED0;
  color: #3D343F;
}
.quitar-denuncia:hover{
  background-color: #FBF8F7;
  color: #E98836;
}
