#cambio {
  position: fixed;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px;
  margin:30%, 0;
  font-size: 18px;
  background-color: #E98836;
  color: #FBF8F7;
  font-weight: bold;
}

.boton0{ left : 1px; }
.boton1{ right : 1px; }

.boton1, .boton0{
  /* background-color: #3D343F; */
  font-family: 'Allerta', sans-serif;
  /* color: #E98836; */
  transition:all 0.5s;
}

#cambio:hover {
  background-color: #3D343F;
  color: #FBF8F7;
  cursor: pointer;
  font-weight: bold;
}

 #contenedor, button{
  height: 100%;
}

div #publicaciones{
  text-align: center;
  background-color:#3D343F;
}
