#cambio {
  position: fixed;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px;
  margin:30%, 0;
  font-size: 18px;
}

.boton0{
  left : 1px;
  background-color: #8FCED0;
  color: white;
}

.boton1{
  right: 1px;
  background-color: #E98836;
  color: white;
}

#cambio:hover {
  background-color: #1919BEBE;
  cursor: pointer;
}

 #contenedor, button{
  height: 100%;
}

#contenedor{
    background-image: url('../../modelo/documentacion/tp6.png');
}
