body{
  background-color: #FBF8F7;
}
#amiko{
  font-family: 'Allerta', sans-serif;
  margin-top: 5%;
  font-size: 3em;
  color: #E98836;
}
#chat{
  background-color: #3D343F;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
  height: 400px;
  border-radius: 11px;
}
#mensaje{
  width: inherit;
}
.otro,.yo{
  font-family: 'Spinnaker', sans-serif;
  background-color: white;
  border-radius: 11px;
  color: #19BEBE;
  font-size: 1em;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
}
.yo{
  margin-right: 3%;
}
.otro{
  margin-left: 3%;
}
.aux{
  width: 46%;
}
#saludo{
  font-family: 'Allerta', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #FBF8F7;
}
small{
  text-align: right;
  float: right;
  padding: 4px;
}
/* .otro>small{
  margin-right: 4px;
} */
