/* footer.css */
footer{
    background: #3D343F;
    color:#FBF8F7;
    padding: 2% 0%;
    clear: both;
    position: relative;
    height: 400px;
    z-index: -3;
    margin-top: -3px;
    bottom: 0;
    left: 0;
    right: 0;
}

#TP62{
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  color: #FBF8F7;
  text-align: center;
  padding: 0 1%;
}

#ContFooter, footer> div:nth-child(2) {
  margin: 0 100px;
}

div:nth-child(2)> hr{
  border: solid 0.3px rgba(255,255,255, 0.3) !important;
}

div .icono{
  width: 50px;
  height: 50px;
  background-color: #FBF8F7;
  border-color: white;
  border-radius: 100%;
  margin: 0;
  color: #3D343F;
}

.desarrolladores > div{
  margin: 0 3.5%;
}


.desarrolladores{
  display: flex;
  padding: 5% 33%;
}

#ContFooter > div:nth-child(2){
  /* background-color: red; */
  margin: 0 20%;
  padding-bottom: 3%;
  /* padding-left: 5%; */
}

#ContFooter > div:nth-child(2) >p{
  margin: 0 30%;
  color: #FBF8F7;
  text-align: center;
  font-family: 'Allerta', sans-serif;
}

footer >div:nth-child(2){
  margin: 0;
  padding: 3%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8FCED0;
  width: 100%;
  color: #3D343F;
  text-align: center;
  /* padding-left: 7.5%; */
  font-family: 'Allerta', sans-serif;
  /* font-weight: bold; */
}

div .f{
  padding: 24%;
}

div .git{
  padding: 20%;
}

.icono a:link{
  color: #3D343F;
}

.icono a:visited{
  color: #3D343F;
}

.contDivI:hover, .icono:hover{
  opacity: 0.9;
  background-color: #19BEBE;
  transition: all 0.5s;
  cursor: pointer;
}
