html{
  height: 100%;
}
.botones{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 46%;
    text-align: center;
    font-family: 'Allerta', sans-serif;
    color: #E98836;
}
#contenedor{
    display: flex;
    padding-top: 3% !important;
    font-size: 1.2em;
}
#bienvenido{
    color:#FBF8F7;
    background: #E98836;
    padding: 2%;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
#bienvenido>h1{font-size: 4.5rem;}
#inicio{
    width: 49%;
    height: 100%;
    float: left;
    background: #3D343F;
    padding: 0;
    margin: 0;
}
#present>p{
    color: #8FCED0;
    padding-top: 7%;
    padding-right: 7%;
    padding-left: 7%;
    text-align: center;
    font-family: 'Allerta', sans-serif;
}
#per{font-size: 2.2em;}
#per~p{font-size: 1.2em;}

canvas{
    float: left;
    padding: 0;
    margin: 0;
}
.bot{
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.bot:hover{
    background-color: #E98836;
}
