.card>h6{
    align-self: flex-end;
    text-transform: capitalize;
    margin-right: 3%;
}
.reac,.den{
    display: flex;
}
.reac>img{
    width: 3.5em;
    height: 3.5em;
    border: 3px solid #8FCED0;
    border-radius: 100%;
    margin-right: 3%;
}
h6:hover,.reac>img:hover,.den>img:hover{
    cursor: pointer;
}
h6{
    padding: 1%;
}
.den>img{
    width: 2em;
    height: 2em;
    position: absolute;
    top: 60%;
    left: 83%;
}
