.card>h6{
    align-self: flex-end;
    text-transform: capitalize;
    margin-right: 3%;
}
.reac,.den{
    display: flex;
}
.reac>img{
    width: 3.5em;
    height: 3.5em;
    border: 3px solid #8FCED0;
    border-radius: 100%;
    margin-right: 3%;
}
h6:hover,.reac>img:hover,.den>img:hover,.card span:hover{
    cursor: pointer;
}
.card-body{ border-top: #827d78 1px solid; }
.den>img{
    width: 2em;
    height: 2em;
    position: absolute;
    top: 24em;
    left: 83%;
}
.card-img-top{
    height: 23em;
}
.card{
    width: 50% !important;
    height: auto;
    margin: 5% auto;
    background-color: #3D343F !important;
    border: #8FCED0 3px solid !important;
    font-family: 'Allerta', sans-serif;
}
.card span{
    position: absolute;
    left: 69%;
    bottom: 10%;
    font-weight: bold;
    color: #827d78;
}
.container>.form-inline{
    width: 100%;
    display: flex;
    margin: auto;
}
.card-body>.card-title{
    font-size: 1.7em;
    color: #19BEBE;
}
.card-body>.card-text{
    font-size: 1em;
    color: #8FCED0;
    font-style: italic;
}
.form-control{
    width: 80% !important;
    margin-right: 3%;
    margin-bottom: 7%;
}
.container .btn{
    margin-bottom: 7%;
}
.bot-publi{
    background: #E98836;
    color: #FBF8F7;
    border-radius: 5%;
    padding: 2.5%;
    transition: 1s;
}
.bot-publi:hover{
    background: #8FCED0;
}
/*checar responsive de publicacion*/
@media (max-width: 500px){
    .card{
        width: 110vw;
        margin: 5vw;
    }
}
#contenedorComen>div{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #E98836;
  border-radius: 5px;
  height: 3em;
}
.denunc{
  width: 2em;
  padding-top: .3em;
  margin-left: 5%;
}
.comen{
  float: left;
  width: 85%;
  color: #3D343F;
  background: #8FCED0;
  padding-left: 4px;
  padding: .5em;
  font-size: 1.2em;
  border-radius: 15%;
  font-family: 'Allerta', sans-serif;
}
.autor{
  cursor: pointer;
}
